<!--@include(layout/header.html)-->
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: lightsteelblue;
    }
    #top-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #top-menu ul {
        list-style: none;
        padding:10px;
    }
    #top-menu ul li{
        margin: 0px;
    }

    #lang {
        margin-left: 5px;
        border: 1px dotted gray;
    }

    #top-menu ul li a{
        text-decoration: none;
        padding: 10px 30px;
    }
    #top-menu ul li a:hover{
        background-color: slategray;
    }
    #top-menu h1{
        color: aliceblue;
    }
    #menu-list{
        display: flex;
        flex-direction: row;
    }
    #menu-list li select{
        border-left: 1px dotted gray;
    }
    .container {
        width: 100%;
        margin: auto;
    }
    input {
        height: 30px;
    }

</style>

<div class="container">
    <div id="top-menu">
        <div id="logo">
            <h1>Demo project</h1>
        </div>
        <ul id="menu-list">
            <li><a href="/main/index.jsp">Home</a></li>
            <!--@if(admin)--><li><a href="/main/user_list.jsp">User list</a></li><!--/if(admin)-->
            <li><a href="/course/login.jsp">Course list</a></li>
            <li><a href="/member/info_update.jsp">Person info</a></li>
            <!--@if(order)--><li><a href="/order/index.jsp">Order</a></li><!--/if(order)-->
            <!--@if(order)--><li><a href="/member/logout.jsp">Log out</a></li><!--/if(order)-->
            <!--@if(login)--><li><a href="/member/login.jsp">Sign in</a></li><!--/if(login)-->
            <!--@if(login)--><li><a href="/member/sign_up.jsp">Sign up</a></li><!--/if(login)-->
            <li id="lang">Language
                <select id="langtype" onchange="setLanguage(this.value);">
                    <!--@loop(languages)-->
                    <option value="{{languages.id}}" {{languages.sel}} {{languages.isYN}}>{{languages.value}} </option>
                    <!--/loop(languages)-->
                </select>
            </li>
        </ul>
    </div>
</div>

<script>
    function setLanguage(value) {
        console.log(value)
        setCookie("SITE_LANG", value);
        window.location.reload();
    }

</script>